<template>
  <div class="container">
    <div class="item" v-for="image in images">
      <RouterLink :to="image.link" class="text"
        ><img :src="image.img" />{{ image.name }}</RouterLink
      >
    </div>
  </div>
</template>

<script setup>
const images = [
  {
    img: `/src/assets/Icon-FR.svg`,
    name: "Front Office",
    link: "/FrontOffice",
  },
  {
    img: `/src/assets/Icon-FOC.svg`,
    name: "Front Office Cashier",
    link: "/FrontOfficeCashier",
  },
  {
    img: `/src/assets/Icon-TO.svg`,
    name: "Telephone Operator",
    link: "/TelephoneOperator",
  },

  {
    img: `/src/assets/Icon-HK.svg`,
    name: "House Keeping",
    link: "/HouseKeeping",
  },
  {
    img: `/src/assets/Icon-Sales&Catering.svg`,
    name: "Sales Catering",
    link: "/SalesCatering",
  },

  {
    img: `/src/assets/Icon-POS.svg`,
    name: "Point Of Sales",
    link: "/PointOfSales",
  },
  { img: `/src/assets/Icon-Outlet.svg`, name: "Outlet", link: "/Outlet" },
  {
    img: `/src/assets/Icon-NightAudit.svg`,
    name: "Night Audit",
    link: "/NightAudit",
  },
  {
    img: `/src/assets/Icon-IncomeAudit.svg`,
    name: "Income Audit",
    link: "/IncomeAudit",
  },
  {
    img: `/src/assets/Icon-AR.svg`,
    name: "Account Receivable",
    link: "/AccountReceivable",
  },
  {
    img: `/src/assets/Icon-Purchasing.svg`,
    name: "Purchasing",
    link: "/Purchasing",
  },
  {
    img: `/src/assets/Icon-Inventory.svg`,
    name: "Inventory",
    link: "/Inventory",
  },
  {
    img: `/src/assets/Icon-AP.svg`,
    name: "Account Payable",
    link: "/AccountPayable",
  },
  {
    img: `/src/assets/Icon-GC.svg`,
    name: "General Cashier",
    link: "/GeneralCashier",
  },
  {
    img: `/src/assets/Icon-GL.svg`,
    name: "General Ledger",
    link: "/GeneralLedger",
  },
  {
    img: `/src/assets/Icon-FixedAssets.svg`,
    name: "Fix Assets",
    link: "/FixAssets",
  },
  {
    img: `/src/assets/Icon-Engineering.svg`,
    name: "Engineering",
    link: "/Engineering",
  },
  { img: `/src/assets/Icon-Setting.svg`, name: "Setting", link: "/Setting" },
  {
    img: `/src/assets/Icon-SettingTools.svg`,
    name: "System Tools",
    link: "/SystemTools",
  },
];
</script>

<style scoped>
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.container {
  margin-top: 30px;
  width: 1fr;
  height: 1fr;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  justify-items: center;
}

.item {
  padding: 2px;
  border: 2px solid lightgray;
  border-radius: 15px;
  width: 150px;
  text-align: center;
  margin-bottom: 30px;
  height: 100px;
}

.text {
  color: black;
}

img {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  max-width: 100px;
  height: 60px;
}
</style>
