<script setup></script>

<template>
  <header>
    <RouterLink to="/" class="back">
      <img src="./assets/vhpcloudlogo.svg" alt="" />
    </RouterLink>
    <h3 class="vhp">Visual Hotel Program</h3>
  </header>

  <RouterView></RouterView>
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
}

#app {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}

a:active {
  text-decoration: none;
}
a:focus {
  outline: none;
}

header {
  background-color: darkslategray;
  padding: 15px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

img {
  height: 40px;
}

.vhp {
  text-align: center;
  margin-top: 10px;
}
</style>
